
<ul>
	<li data-id="home" class="active item">
		<a href="/home">Home</a>	
	</li>
	<li data-id="two" class="item">
		<a href="/two">Page 2</a>	
	</li>
	<li data-id="three" class="item">
		<a href="/three">Page 3</a>	
	</li>
</ul>
