// Colors
// ==============================================================================
$body-bg: #19242D;
$body-highlight: #2D4250;
$blank-map: #3B5360;

$text-dark: #091928;
$text: #757575;
$text-light: #B7B7B7;

$red: #E75044;
$blue: #1980D1;
$yellow: #D8BC50;
$green: #00D891;
$purple: #3C569B;
$light-blue: #00AEEF;

$rule-color: rgba(255,255,255,0.12);

$btn-dark: #2B3238;
$btn-light: #4C6C7A;
